<!DOCTYPE html>
<html>
  <head>
    <title>MyConcertExperience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
      <% if logged_in?%>
        <%= link_to "Add a Concert", new_concert_path %> |
        <%= link_to "All Concerts", concerts_path %> |
        <%= link_to "Logout", logout_path, method:"delete"%>

      <% else %>
        <%=link_to "Sign Up", signup_path %> |
        <%=link_to "Log In", login_path %>
      <% end %>

    </div>

  <body>
    <%= yield %>
  </body>
</html>
